<% include header %>

<h1>Food & trends</h1>
  <div class="lijn1"> </div>
<nav>
  <% for (var i = 0; i < categorieen.length; i++) { %>
    <a href="/categorieen/<%- i %>"><%- categorieen[i] %></a>
  <% } %>
</nav>
  <div class="lijn2"> </div>
  

  <% var teller = 1; %>
  <% nieuws.forEach(function(item){ %>
    <section>

        <h2>
          <a class="titels"href=/items/<%- item.id %>><%- item.titel %></a>
        </h2>
        <p class="datum"><%- item.datum %></p>
        <img class="afbeten"src="/img/<%- item.afbeeldings %>" alt="<%- item.titel %>">


        <p>
          <%- item.samenvatting %>
        </p>
        <div class="lijn2"> </div>

    </section>
    <% teller++;}); %>


<% include footer %>
